{% extends "base.html" %} {% load static wagtailcore_tags %} {% block content %}
{% include 'includes/cookies.html' %} {% include 'includes/navbar.html' %}

<div class="container">
    <main class="main-subpage">
        <div class="heading__box heading__box--paint" id="header">
            <h1 class="heading__box-title">Dokumenty do pobrania</h1>
        </div>
        <div class="content wrapper">
            <h2 class="todownload__heading center-txt">{{page.heading}}</h2>
            <div class="todownload content__list">
                {% for doc in page.todownload_documents.all %}

                <a href="{{ doc.document.url }}" class="todownload__link"
                    >{{doc.document.title}} ({{ doc.get_extension }}, {{ doc.get_size}})</a
                >

                {% endfor %}
            </div>
        </div>
    </main>
    {%include 'includes/footer.html'%}
</div>
{% endblock%}