{% load static %}

<div class="cookie-box hide">
    <div class="cookie-wrapper">
    <p>
        Strona używa plików cookies w celu poprawnego funkcjonowania. Możesz samodzielnie zarządzać cookies,
        zmieniając ustawienia przeglądarki.
    </p>
    <p> Brak zmiany ustawienia przeglądarki
        oznacza wyrażenie zgody na ich użycie oraz zapisanie w
        pamięci urządzenia.</p>
    <button class="cookie-btn main-button">Akceptuję <span class="cookie">🍪</span>!</button>
    </div>
</div>
