{% load static wagtailcore_tags %}

<nav class="nav">
    <div class="nav-wrapper">
    <div class="nav__logo">
        <a href="{% url 'wagtail_serve' '' %}">
            <img class="nav__logo-img" src="{% static 'img/frontcircled.png' %}" alt="Zdjęcie frontu budynku przedszkola"/></a>
    </div>
    <div class="skipnav"><a href="#header">Pomiń nawigację</a></div>
    <button class="hamburger hamburger--spring" type="button">
        <span class="hamburger-box"><span class="hamburger-inner"></span></span>
        <span class="hamburger-text">Menu</span>
    </button>
    <ul class="nav-links" id="menu-list">
        <li class="nav__item top-item">
            <a class="nav__item-link nav-link menu-close link-underlined" href="{% url 'wagtail_serve' '' %}">Strona główna</a>
        </li>
        <li class="nav__item">
            <a class="nav__item-link nav-link link-underlined" href="#aboutus">o nas <i class="ti ti-chevron-down" aria-hidden="true"></i></a>
            <ul class="nav__dropdown">
                <li><a href="{% url 'aboutus_app:schedule' %}" class="nav__dropdown-link nav-link menu-close">Ramowy rozkład dnia</a></li>
                <li><a href="{% url 'aboutus_app:payments' %}" class="nav__dropdown-link nav-link menu-close">Opłaty i konta</a></li>
                <li><a href="{% url 'aboutus_app:regulations' %}" class="nav__dropdown-link nav-link menu-close">Regulamin</a></li>
                <li><a href="{% url 'aboutus_app:procedures' %}" class="nav__dropdown-link nav-link menu-close">Procedury</a></li>
                <li><a href="{% url 'aboutus_app:concept' %}" class="nav__dropdown-link nav-link menu-close">Koncepcja pracy przedszkola</a></li>
                <li><a href="#" class="nav__dropdown-link nav-link menu-close">Statut</a></li>
            </ul>
        </li>
        <li class="nav__item">
            <a class="nav__item-link nav-link link-underlined" href="#todownload">do pobrania <i class="ti ti-chevron-down" aria-hidden="true"></i></a>
            <ul class="nav__dropdown">
                <li><a href="{% url 'todownload_app:general' %}" class="nav__dropdown-link nav-link menu-close">Rekrutacja / Inne dokumenty</a></li>
                <li><a href="{% url 'todownload_app:teachers' %}" class="nav__dropdown-link nav-link menu-close">Materiały od nauczycieli</a></li>
                <li><a href="{% url 'todownload_app:speechtherapist' %}" class="nav__dropdown-link nav-link menu-close">Materiały logopedyczne</a></li>
            </ul>
        </li>
        <li class="nav__item">
            <a href="{% slugurl 'home' %}#news" class="nav__item-link nav-link link-underlined menu-close">aktualności</a>
        </li>
        <li class="nav__item">
            <a href="{% slugurl 'home' %}#groups" class="nav__item-link nav-link link-underlined menu-close">grupy</a>
        </li>

        <li class="nav__item">
            <a class="nav__item-link nav-link link-underlined menu-close" href="{% url 'aboutus_app:contact' %}">kontakt</a>
        </li>
    </ul>

</div>

</nav>
<!-- <div class="nav-bgc"></div> -->