{% load wagtailcore_tags static %}
{#% if posts.paginator.num_pages > 1 %#}
<nav class="pagination">
    <ul class="pagination__list">
        {#% if posts.paginator.num_pages > 3 and posts.has_previous %#}
        <li class="pagination__item"><a href="#" class="pagination__item-link"><span class="pagination__item-link--xl">&laquo;</span></a></li>
        {#% endif%#}
        {#% if posts.has_previous %#}
        <li class="pagination__item"><a href="#" class="pagination__item-link"><span class="pagination__item-link--xl">&lsaquo;</span></a></li>
        {#% endif %#}
        {#% for page_num in page_range %#}
         <li class="pagination__item"><a href="#chronicle" class="pagination__item-link "><span>1</span></a></li>
        <li class="pagination__item"><a href="#chronicle" class="pagination__item-link active"><span>2</span></a></li>
        {#% endfor %#}
        {#% if posts.has_next %#}
        <li class="pagination__item"><a href="" class="pagination__item-link"><span class="pagination__item-link--xl">&rsaquo;</span></a></li>
        {#% endif %#}
        {#% if posts.paginator.num_pages > 3 and posts.has_next %#}
        <li class="pagination__item"><a href="" class="pagination__item-link"><span class="pagination__item-link--xl">&raquo;</span></a></li>
        {#% endif %#}
    </ul>
</nav>
{#% endif %#}