{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% block content %}
{%include 'includes/cookies.html'%}
{% include 'includes/navbar.html' %}

<div class="container">
    <main class="main-subpage">
        <div class="heading__box heading__box--crayons" id="header">
            <h1 class="heading__box-title">Koncepcja pracy przedszkola na lata 2022-2027</h1>
        </div>
        <div class="content wrapper">
            <h2>Koncepcja funkcjonowania i rozwoju Przedszkola Publicznego w Turawie</h2>
            <p>
                Naszym celem jest tworzenie przedszkola, które wyposaży dzieci w wiedzę, umiejętności i postawy.
                Rozwinie ich kreatywność, inicjatywę, umiejętność rozwiązywania problemów, oceny ryzyka, podejmowania
                trafnych decyzji, konstruktywnego kierowania emocjami. W którym nauczyciel to dobry pedagog i&nbsp;zarazem coach.
                Naszym priorytetem jest tworzenie miejsca bezpiecznego i przyjaznego dla dzieci, rodziców i pracowników.</p>

            <h3>Misja przedszkola</h3>
            <figure>
                <blockquote>
                    <p>Dzieci i zegarki nie mogą być stale nakręcane.
                        Trzeba im dać też czas na chodzenie.</p>

                </blockquote>
                <cite>Friedrich Wilhelm Froebel</cite>

            </figure>

            <p>
                Przedszkole to miejsce, które zapewnia dzieciom opiekę, dba o ich bezpieczeństwo fizyczne i psychiczne.
                <br>
                Przedszkole rozpoznaje i zaspakaja potrzeby oraz rozwija zainteresowania, talenty, indywidualne
                możliwości dzieci.
                <br>
                Przedszkole tworzy bezpieczne warunki do zabawy i nauki.
                <br>
                Przedszkole to także miejsce gdzie dziecko kształtuje swoje postawy moralne, uczy się odróżniać dobro od
                zła.
                <br>
                Przedszkole rozwija umiejętności społeczne, promuje zdrowy styl życia, zachowania przyjazne przyrodzie,
                buduje poczucie tożsamości regionalnej i narodowej. <br>
                Przedszkole wspiera także działania wychowawcze i edukacyjne rodziców.
                <br>
                Przedszkole wspiera wszechstronny rozwój dziecka na miarę jego możliwości.
                <br>
                Przedszkole rozwija samoakceptację, odwagę, wiarę we własne możliwości.
                <br>
                Przedszkole umożliwia osiągnięcie gotowości do podjęcia nauki w szkole podstawowej.
            </p>

            <h3>Wizja przedszkola</h3>
            <figure>
                <blockquote>
                    <p>
                        Niech dzieci będą wolne. <br>
                        Zachęcaj ich do biegania na zewnątrz, gdy pada deszcz. <br>
                        Niech zdejmą buty, gdy znajdują kałużę wody. <br>
                        A gdy trawa łąk będzie mokra od rosy, <br>
                        niech biegną i depczą ją bosymi stopami. <br>
                        Niech odpoczywają spokojnie, gdy drzewo <br>
                        zaprasza ich do spania w swoim cieniu. <br>
                        Niech krzyczą i śmieją się, gdy słońce obudzi ich rano.</p>

                </blockquote>
                <cite>Maria Montessori</cite>

            </figure>

            <p> Koncepcja pracy przedszkola ukierunkowana jest na rozwój dzieci z uwzględnieniem potrzeb rozwojowych
                wychowanków,
                specyfiki pracy przedszkola, oczekiwań rodziców i środowiska lokalnego.</p>

            <h3 class="heading-terciary concept__heading-terciary">Cele przedszkola</h3>
            <ul class="concept__list">
                <li class="concept__list-item">Zapewnienie bezpieczeństwa dzieciom i pracownikom</li>
                <li class="concept__list-item">Dbałość o wszechstronny rozwój dziecka</li>
                <li class="concept__list-item">Akceptacja i poszanowanie praw dziecka</li>
                <li class="concept__list-item">Dobrze wykwalifikowana kadra pedagogiczna</li>
                <li class="concept__list-item">Partnerska współpraca z rodzicami</li>
                <li class="concept__list-item">Współpraca ze środowiskiem lokalnym</li>
                <li class="concept__list-item">Promocja placówki</li>
            </ul>



            <h3 class="heading-terciary concept__heading-terciary">Priorytety na najbliższe lata</h3>
            <ul class="concept__list">
                <li class="concept__list-item">Tworzenie placówki otwartej, bezpiecznej i przyjaznej dla dzieci,
                    rodziców i pracowników.</li>
                <li class="concept__list-item">Rozwijanie bazy i oferty przedszkola w zakresie rozwoju aktywności
                    ruchowej, integracji sensorycznej.</li>
                <li class="concept__list-item">Promowanie zdrowego stylu życia, aktywnej postawy wobec własnego zdrowia
                    oraz zachowań proekologicznych.</li>
                <li class="concept__list-item">Rozwijanie aktywności dzieci w nabywaniu wiadomości, umiejętności,postaw
                    w zakresie co najmniej podstawy programowej.</li>
                <li class="concept__list-item">Indywidualne wspomaganie rozwoju i edukacji dziecka.</li>
                <li class="concept__list-item">Systematyczne podnoszenie jakość pracy przedszkola poprzez doskonalenie
                    kadry, stosowanie aktywnych metod w pracy z dziećmi, udział w nowatorskich programach i projektach,
                    opracowywanie własnych.</li>
                <li class="concept__list-item">Ścisła współpraca z rodzicami, którzy współdecydują i uczestniczą w
                    działaniach podejmowanych na rzecz przedszkola.Tworzenie przedszkola, które jest rozpoznawalne w
                    lokalnym środowisku ze względu na jakość edukacji i ciekawą ofertę dla dzieci.</li>
            </ul>
            <h3 class="heading-terciary concept__heading-terciary">Absolwent przedszkola</h3>
            <ul class="concept__list">
                <li class="concept__list-item">Posiada wiedzę i umiejętności niezbędne do podjęcia nauki w szkole.</li>
                <li class="concept__list-item">Jest samodzielny w działaniu i podejmowaniu decyzji, podejmuje trafne
                    decyzje.</li>
                <li class="concept__list-item">Troszczy się o swoje zdrowie i bezpieczeństwo.</li>
                <li class="concept__list-item">Przestrzega zasad współżycia w grupie, jest otwarty na potrzeby innych
                    ludzi.</li>
                <li class="concept__list-item">Posiada umiejętność radzenia sobie w sytuacjach trudnych.</li>
                <li class="concept__list-item">Wykazuje gotowość do działania na rzecz środowiska przyrodniczego.</li>
                <li class="concept__list-item">Śmiało wyraża swoje opinie, w zrozumiały sposób komunikuje się z innymi.
                </li>
                <li class="concept__list-item">Jest kreatywny, wykazuje inicjatywę.</li>
                <li class="concept__list-item">Jest wrażliwy na sztukę i piękno otaczającego świata.</li>
                <li class="concept__list-item">Jest ciekawy świata, dąży do pogłębiania wiedzy, rozwija swoje pasje,
                    zainteresowania, talenty.</li>
            </ul>
            <h3 class="heading-terciary concept__heading-terciary">Baza materialna przedszkola</h3>

            <p>Przedszkole Publiczne w Turawie przy ul. Opolskiej 49 mieści się w przedwojennym budynku, adaptowanym na
                potrzeby przedszkola. Placówka położona jest w pięknej okolicy, bezpośrednio obok lasu oraz Szkoły
                Podstawowej, daleko od głównej drogi co jest jej dużym atutem. W przedszkolu funkcjonują dwa oddziały,
                które mogą zapewnić pobyt dla 50 dzieci.</p>
            <p>Placówka posiada 2 sale zajęć położone na dwóch piętrach budynku. Do każdej sali przynależy łazienka
                umiejscowiona bezpośrednio przy sali. Na piętrze znajduje się pomieszczenie które służy do zajęć
                logopedycznych i korekcyjno-kompensacyjnych oraz hol, który służy do wyświetlania filmów edukacyjnych,
                ćwiczeń gimnastycznych, różnego rodzaju zabaw. W przedszkolu funkcjonuje kuchnia przygotowująca smaczne,
                domowe posiłki. Przed przedszkolem znajduje się niewielki parking.</p>
            <p>Dużym atutem przedszkola jest posiadanie ogrodu przedszkolnego usytuowanego po obu stronach budynku.</p>
            <p>Właściwa baza dydaktyczna służy tworzeniu sprzyjających warunków pracy, nauki, zabawy, zapewnia poczucie
                bezpieczeństwa. Sprzyja to realizacji zamierzonych celów wychowawczych, opiekuńczych i dydaktycznych.
            </p>


            <h3 class="heading-terciary concept__heading-terciary">Nauczyciele</h3>
            <figure>
                <blockquote>
                    <p>Dziecko może nauczyć dorosłych trzech rzeczy:
                        cieszyć się bez powodu, być ciągle czymś zajętym
                        i domagać się – ze wszystkich sił – tego, czego pragnie</p>
                </blockquote>
                <cite>Paulo Coelho</cite>
            </figure>

            <p>O sukcesie placówki decyduje przede wszystkim sprawnie współpracujący ze sobą zespół, na który składa
                się wysoko wykwalifikowana kadra pedagogiczna oraz pracownicy obsługi. Wszyscy pracownicy ze sobą
                współdziałają i tworzą wyjątkowy klimat przedszkola.</p>

            <h4>Rola nauczyciela</h4>
            <ul class="concept__list">
                <li class="concept__list-item">Nauczyciele są wsparciem dla wychowanków, zapewniają im podmiotowe
                    traktowanie i dbają o wszechstronny rozwój dzieci.</li>
                <li class="concept__list-item">Współpracują ze sobą, dzielą się zdobyta wiedzą, są pogodni i życzliwi.
                </li>
                <li class="concept__list-item">Znają potrzeby i zainteresowania dzieci, są dobrze przygotowani
                    merytorycznie i metodycznie. Prowadzą zajęcia z wykorzystaniem atrakcyjnych metod pracy, poszukują
                    innowacyjnych rozwiązań, pracują z
                    pasją, doskonalą swoje umiejętności, mają wysokie kwalifikacje.</li>
                <li class="concept__list-item">Ściśle współpracują z rodzicami, uwzględniają ich potrzeby i oczekiwania.
                    Angażują rodziców do pracy na rzecz
                    przedszkola.</li>
                <li class="concept__list-item">Wszyscy pracownicy naszej placówki współdziałają ze sobą. Tworzą
                    przyjazną atmosferę dzięki której dzieci czują się bezpieczne , kochane i akceptowane.</li>
            </ul>


            <h3 class="heading-terciary concept__heading-terciary">Dziecko w naszym przedszkolu</h3>

            <figure>
                <blockquote>
                    Tylko dzieci potrafią zatknąć kij w piasku, <br>
                    uznać, że jest królową i obdarzyć go miłością.
                </blockquote>
                <cite>
                    Antoine de Saint Exupery</cite>
            </figure>

            <h4>Procesy zachodzące w przedszkolu</h4>

            <p> Przedszkole to miejsce gdzie dzieci spędzają większość swojego czasu. Dlatego powinno być miejscem
                dającym
                poczucie bezpieczeństwa, wzajemnej akceptacji, inspiracji i odkrywania nowych rzeczy.</p>

            <p>Przedszkole przygotowuje dziecko do podjęcia nauki w szkole podstawowej, dba o wszechstronny rozwój
                dziecka,
                wspiera jego indywidualny potencjał rozwojowy. Dba o rozwój poznawczy, językowy, społeczny, emocjonalny
                i fizyczny
                dziecka. Promuje zdrowy styl życia, postawy przyjazne przyrodzie. Bardzo ważne jest naturalne otoczenie
                dziecka,
                rozwijanie w nim aktywności ruchowej, poznawczej, obserwowanie i eksperymentowanie.</p>

            <p>Przedszkole to miejsce gdzie dzieci rozwijają swoje umiejętności społeczne, uczą się współdziałania,
                rozwiązywania konfliktów, poznają, samodzielnie tworzą i respektują zasady wspólnego funkcjonowania w
                grupie. Odkrywają
                swoją indywidualność, rozwijają samodzielność, poznają swoje możliwości, nazywają emocje.</p>

            <p> Bardzo ważne jest kształtowanie u dzieci poczucia tożsamości regionalnej, narodowej, przywiązania do
                rodziny, społeczności lokalnej. Zamierzamy pielęgnować wartości kulturowe, społeczne, uczyć odróżniania
                dobra od zła,
                rozwijać przyjaźń, szacunek, miłość, tolerancję, akceptację, odpowiedzialność do świata przyrody,
                zwierząt i ludzi.</p>

            <p>Podstawową formą aktywności w przedszkolu jest zabawa, która ma ogromny wpływ na rozwój dzieci. Dlatego
                zamierzamy dołożyć wszelkich starań aby umożliwić dzieciom rozwój zainteresowań, zdolności, umożliwić
                zdobywanie nowych
                doświadczeń, sprawności a także wyrównywać różnice edukacyjne poprzez indywidualizację pracy i
                stosowanie
                aktywizujących metod pracy, organizowanie pomocy psychologiczno-pedagogicznej.</p>

            <h4>System wspierania rozwoju dziecka</h4>

            <p>W przedszkolu rozpoznaje się potrzeby i możliwości dziecka poprzez prowadzenie obserwacji i diagnozy
                dzieci.
                Przedszkole współpracuje z Poradnią Psychologiczno-Pedagogiczną, prowadzona jest praca wspierająca
                dzieci, praca
                korekcyjno-kompensacyjna, praca logopedyczna. Programy i projekty realizowane przez nauczycieli są
                modyfikowane i dostosowywane do potrzeb i możliwości dzieci.</p>

            <p>Oferta zajęć prowadzonych w przedszkolu zapewni realizację podstawy programowej, a także poszerzy ją o
                nowatorskie rozwiązania programowe i metodyczne takie jak: udział w ogólnopolskich programach,
                projektach, konkursach,
                zabawy badawcze, metody aktywizujące, metody oparte na integracji sensorycznej.</p>

            <p>Rozwijamy talenty, zainteresowania dzieci m. in. plastyczne, muzyczne, teatralne, językowe, przyrodnicze,
                matematyczne, dotyczące tradycji lokalnych.</p>

            <p>Wspieramy dzieci poprzez:</p>
            <ul class="concept__list">
                <li class="concept__list-item">Tworzenie atmosfery bezpieczeństwa, życzliwości i akceptacji</li>

                <li class="concept__list-item">Indywidualne i podmiotowe traktowania dzieci, budowanie poczucia własnej
                    wartości.</li>

                <li class="concept__list-item">Tworzenie warunków do wszechstronnego rozwoju dziecka, wspierania jego
                    potrzeb i zainteresowań.</li>

                <li class="concept__list-item">Kształtowanie umiejętności potrzebnych dziecku do podjęcia nauki w szkole
                    podstawowej, w szczególności:
                    umiejętności społeczne, emocjonalne, poznawcze.</li>

                <li class="concept__list-item">Rozpoznawanie potrzeb rozwojowych i możliwości dziecka.</li>

                <li class="concept__list-item">Indywidualizację pracy, wspomaganie dzieci, prace z dzieckiem zdolnym.
                </li>

                <li class="concept__list-item">Rozwijanie samodzielności, aktywności dzieci, swobody w działaniu i
                    wsparcie w samodzielnym rozwiązywaniu
                    problemów.</li>

                <li class="concept__list-item">Dbanie o rozwój emocjonalny dziecka, radzenie sobie z porażkami, wzrost
                    samooceny.</li>

                <li class="concept__list-item">Stosowanie nowoczesnych metod i form pracy.</li>

                <li class="concept__list-item">Diagnozowanie potrzeb, analizowanie osiągnięć dzieci z uwzględnieniem ich
                    potrzeb rozwojowych.</li>

                <li class="concept__list-item">Objęcie dzieci pracą psychologiczno-pedagogiczną, jej organizowanie,
                    monitorowanie, dokumentowanie.</li>

                <li class="concept__list-item">Propagowanie zdrowego stylu życia poprzez codzienny pobyt na powietrzu
                    bez względu na porę roku,
                    organizowanie zabaw ruchowych, ćwiczeń gimnastycznych na powietrzu, udział w Olimpiadach Sportowych
                    Przedszkolaków, urozmaicone
                    posiłki, zgodne z wymaganiami piramidy żywienia, zdrowe przekąski, prowadzenie przez nauczycieli
                    zajęć kulinarnych.</li>

                <li class="concept__list-item">Wdrażanie dzieci do dbania o własne bezpieczeństwo.</li>

                <li class="concept__list-item">Kształtowanie u dzieci tożsamości narodowej: obchody Święta
                    Niepodległości, Święta Flagi.</li>

                <li class="concept__list-item">Rozwijanie aktywności twórczej dziecka w trakcie prowadzenia przez
                    nauczycieli warsztatów dla rodziców i
                    dzieci, organizowanie uroczystości przedszkolnych.</li>

                <li class="concept__list-item">Bezpośredni kontakt z przyrodą i sztuką poprzez realizację programu
                    „Zabawa sztuką”.</li>

                <li class="concept__list-item">Wsparcie motoryki dużej, rozwijanie koordynacji ruchowej, równowagi,
                    wsparcie prawidłowego rozwoju zdolności
                    analizowania i przetwarzania bodźców sensorycznych poprzez zorganizowanie ścieżki sensorycznej w
                    ogrodzie
                    przedszkolnym.</li>

                <li class="concept__list-item">Rozwijanie talentów dzieci poprzez udział w konkursach plastycznych,
                    muzycznych, recytatorskich.</li>

                <li class="concept__list-item">Promowanie zdrowego stylu życia poprzez wyrabianie nawyków zdrowotnych,
                    aktywność ruchową, udział w
                    ogólnopolskich programach „Kubusiowi Przyjaciele Natury”, „Czyste powietrze Wokół Nas”, organizacji
                    zajęć z I Pomocy
                    Przedmedycznej.</li>

                <li class="concept__list-item">Przeprowadzanie zajęć otwartych, zajęć adaptacyjnych.</li>

                <li class="concept__list-item">Organizowanie spotkań z ciekawymi ludźmi, warsztatów dla dzieci,
                    przedstawień teatralnych na terenie
                    przedszkola, wycieczek tematycznych, wyjazdów do teatru i filharmonii.</li>
            </ul>

            <p>Realizacja tych wszystkich działań ma na celu wspieranie dzieci w drodze do osiągnięcia gotowości do
                podjęcia nauki w szkole podstawowej.</p>


            <h3 class="heading-terciary concept__heading-terciary">Współpraca z rodzicami</h3>

            <p>Rodzice są bardzo ważnym elementem w procesie wychowania i edukacji dzieci, muszą brać w niej aktywny
                udział
                i mieć decydujący wpływ na ich rozwój. Są ważnym partnerem dla nauczycieli ponieważ są źródłem wiedzy o
                dziecku.
                Między rodzicami, a przedszkolem powinna istnieć pełna współpraca. Aby było to możliwe należy budować
                wzajemną
                współpracę, zaufanie i szacunek.</p>

            <p>Chcemy aby rodzice byli równorzędnymi partnerami przedszkola, aby współdecydowali i wspierali przedszkole
                w jego działaniach. Czynnie angażując rodziców w życie przedszkolne chcielibyśmy wspólnie z nimi tworzyć
                przedszkole otwarte, przyjazne dla dzieci, rodziców, pracowników. Naszym celem jest prawidłowa
                organizacja systemu przepływu
                informacji: przedszkole – rodzina, rodzina – przedszkole. Informacje przekazywane powinny być rzetelne,
                konkretne,
                dotyczyć tematu sprawy i docierać natychmiast. Ważne jest aby zasady współpracy były jasno ustalone.</p>

            <p>Formy współpracy z rodzicami:</p>
            <ul class="concept__list">

                <li class="concept__list-item">Organizowanie cyklicznych spotkań z Radą Rodziców, która ściśle
                    współpracuje z dyrektorem, nauczycielami
                    i rodzicami, a efektami współpracy jest zawsze dobro dziecka.</li>

                <li class="concept__list-item">Zebrania ogólne i grupowe organizowane w zależności od potrzeb placówki i
                    rodziców. Na tych zebraniach
                    omawiane są ważne informacje na temat planu pracy na najbliższy rok, przedstawiane są programy i
                    projekty realizowane w
                    danym roku szkolnym, przypominane są regulaminy obowiązujące w przedszkolu, statut przedszkola,
                    osiągnięcia
                    wychowawcze i dydaktyczne dzieci, pomoc przychologiczno-pedagogiczna.</li>

                <li class="concept__list-item">Konsultacje indywidualne z wychowawcami, specjalistami, dyrektorem na
                    których omawiane są ważne dla
                    rodziców sprawy, udzielane jest wsparcie i pomoc metodyczna, rodzice informowani są o postępach
                    dziecka.</li>

                <li class="concept__list-item">Organizowanie spotkań ze specjalistami, pedagogami, psychologami,
                    logopedą zgodnie z potrzebami
                    rodziców, nauczycieli oraz dzieci.</li>

                <li class="concept__list-item">Organizowanie kącików dla rodziców zawierających propozycje wychowawcze,
                    edukacyjne na dany miesiąc,
                    ciekawe artykuły, kalendarz imprez przedszkolnych, ważne informacje na temat funkcjonowania
                    placówki, poprzez tę formę
                    kontaktu rodzice na bieżąco informowani są o zmianach w organizacji przedszkola, aktualnymi
                    zamierzeniami
                    wychowawczo-edukacyjnymi w grupie, mają możliwość obejrzenia prac twórczych swoich dzieci.</li>

                <li class="concept__list-item">Prowadzenie strony internetowej przedszkola, zamieszczanie aktualności,
                    artykułów, zdjęć w galerii,
                    aktualnych informacji z życia przedszkola.</li>

                <li class="concept__list-item">Użycie komunikatora społecznościowego Whats App jako ścieżki szybkiej
                    komunikacji.</li>

                <li class="concept__list-item">Organizowanie zajęć adaptacyjnych dla dzieci rozpoczynających edukację
                    przedszkolną których celem jest
                    pokonanie bariery lękowej u dzieci przed przyjściem do przedszkola, przed czymś nowym, nieznanym.
                    Daje możliwość na
                    zapoznanie dzieci z ich salą, ogrodem przedszkolnym, placówką, nauczycielami, dziećmi. Bardzo ważne
                    jest nawiązanie
                    bliskiego kontaktu z wychowawcą, wysłuchanie obaw rodziców, przekazanie informacji na temat dziecka.
                    Spotkania te dają
                    możliwość także zapoznania rodziców z nauczycielami, którzy mogą rozwiać wiele ich obaw na temat
                    przedszkola.</li>

                <li class="concept__list-item">Organizowanie zajęć otwartych podczas których rodzice mogą w bezpośredni
                    sposób poznać zadania jakie są
                    realizowane w przedszkolu, poznać formy i metody pracy z ich dziećmi,zobaczyć dziecko na tle grupy
                    rówieśniczej, jego
                    zachowania w stosunku do dzieci, nauczycieli, sposób radzenia sobie w różnych sytuacjach.</li>

                <li class="concept__list-item">Organizowanie warsztatów, festynów, spotkań integracyjnych mających na
                    celu integrację ze środowiskiem
                    rodzinnym. Przebiegają one w miłej, ciepłej atmosferze, pod okiem nauczycieli, którzy prowadzą
                    zabawy metodami
                    aktywnymi. Spotkania te są sposobem spędzenie czasu z własnym dzieckiem, rozwijają poczucie
                    bezpieczeństwa, akceptacji samego
                    siebie, poczucia własnej wartości i odkrywania własnych możliwości. Umożliwiają wzajemne poznanie
                    nauczycieli i
                    rodziców.</li>

                <li class="concept__list-item">Organizowanie przy współpracy z rodzicami urodzin dzieci, wycieczek,
                    warsztatów na terenie przedszkola.</li>

                <li class="concept__list-item">Współorganizowanie uroczystości przedszkolnych (Dożynki, Dzień Babci i
                    Dziadka, Dzień Matki, Zakończenie
                    roku, Mikołajki, Bal), jest to doskonała forma obserwowania dziecka na tle grupy, spotkania te
                    dostarczają
                    przeżyć zarówno dzieciom, rodzicom jak i nauczycielom, dzieci prezentują to czego nauczyły się w
                    przedszkolu, wykonują
                    niespodzianki dla swoich gości, pełnią rolę gospodarzy. Rodzice oferują swoją pomoc przygotowując
                    stroje dla dzieci,
                    organizując poczęstunek.</li>

                <li class="concept__list-item">Włączanie rodziców w akcje charytatywne, społeczne o charakterze lokalnym
                    i krajowym w których
                    przedszkole bierze udział.</li>

                <li class="concept__list-item">Włączanie rodziców do realizacji projektów, programów, konkursów zgodnie
                    z Rocznym Planem Pracy.</li>

            </ul>
            <p>
                Wiem jak ważny jest dobry kontakt z rodzicami i jak duże znaczenie mają codzienne rozmowy, uśmiech,
                możliwość wzajemnego liczenia na siebie.</p>

            <p>Będziemy dążyć do tego, aby rodzice rozumieli, że wszelkie działania podejmowane na terenie przedszkola
                mają na celu dobro i wszechstronny rozwój ich dzieci. Zamierzamy kontynuować i umacniać wyjątkowy klimat
                i
                domową atmosferę naszej placówki, gdzie wszyscy czujemy się potrzebni i ważni.</p>

            <h3 class="heading-terciary concept__heading-terciary">Współpraca ze środowiskiem</h3>

            <p>Współpraca ze środowiskiem lokalnym jest ważnym elementem działalności przedszkola. W najbliższych latach
                zamierzamy współpracować z z jednostkami i instytucjami wspomagającymi rozwój dzieci. Nasze działania
                skierowane będą na współpracę z: </p>
            <ul class="concept__list">
                <li class="concept__list-item">Urzędem Gminy w Turawie – udział w imprezach i konkursach organizowanych
                    przez władze Gminy Turawa,
                    zapraszanie przedstawicieli na konkursy i imprezy organizowane w przedszkolu, sponsorowanie nagród
                    na konkursy
                    organizowane przez przedszkole</li>

                <li class="concept__list-item">Gminnym Ośrodkiem Pomocy Społecznej – pomoc materialna i finansowa dla
                    dzieci rodzin o najniższych dochodach</li>

                <li class="concept__list-item">Poradnią Psychologiczno - Pedagogiczną w Ozimku – warsztaty, prelekcje
                    dla rodziców, udzielanie wsparcia
                    merytorycznego nauczycielom, warsztaty szkoleniowe dla nauczycieli, konsultacje dla rodziców,
                    obserwacje dzieci,
                    przeprowadzanie badań psychologiczno-pedagogicznych, logopedycznych, wydawanie opinii do dalszej
                    pracy z dzieckiem</li>

                <li class="concept__list-item">Sanepidem – realizacja programu „Czyste powietrze wokół nas”, udział w
                    konkursach</li>

                <li class="concept__list-item">Biblioteką Publiczną w Turawie – zajęcia edukacyjne prowadzone przez
                    pracowników biblioteki, wypożyczanie
                    książek, udział w konkursach plastycznych organizowanych przez pracowników biblioteki, oglądanie
                    przedstawień
                    teatralnych na terenie biblioteki</li>

                <li class="concept__list-item">Nadleśnictwem Turawa – organizowanie prelekcji, warsztatów, wycieczek do
                    Ogrodu Edukacyjnego, do lasu, akcja
                    sadzenia drzew, spotkania z leśnikami na terenie przedszkola</li>

                <li class="concept__list-item">Kołem Łowieckim – zbieranie karmy dla zwierzyny leśnej</li>

                <li class="concept__list-item">Szkołą Podstawową w Turawie – nawiązanie stałej współpracy z
                    nauczycielami klas pierwszych, wspólne
                    organizowanie imprez integracyjnych, zwiedzanie szkoły, odwiedzanie przedszkola</li>

                <li class="concept__list-item">Przedszkolami z terenu Gminy Turawa – udział w konkursach – promowanie
                    talentów dzieci, Olimpiadzie
                    Przedszkolaków – rozwijanie sprawności ruchowej dzieci, zdrowej rywalizacji oraz zamiłowania do
                    aktywnego stylu życia, udział
                    nauczycieli w szkoleniach, warsztatach, zajęciach otwartych, dzielenie się wiedzą, doświadczeniem
                </li>

                <li class="concept__list-item">Komisariatem Policji w Ozimku – poznanie specyfiki pracy policjantów,
                    pogadanki na terenie przedszkola,
                    udział w zajęciach edukacyjnych dotyczących bezpieczeństwa dzieci, bezpiecznego poruszania się po
                    ulicy, kontaktu z
                    obcym, kontrola pojazdów dokonywana przed wyjazdami autokarem.</li>

                <li class="concept__list-item">Strażą Pożarną – poznanie pracy strażaka, udział w zajęciach edukacyjnych
                    dotyczących bezpieczeństwa, udział
                    w festynach dla dzieci, wycieczki do straży.</li>

                <li class="concept__list-item">Teatrem Lalek w Opolu – nawiązanie stałej współpracy, uczestniczenie w
                    warsztatach i przedstawieniach
                    teatralnych.</li>

                <li class="concept__list-item">Schroniskiem dla zwierząt bezdomnych – zbieranie karmy, uczestnictwo w
                    zajęciach edukacyjnych.</li>

                <li class="concept__list-item">Szlachetna Paczka – nawiązanie współpracy z jednym z najbardziej
                    rozpoznawalnych programów społecznych w
                    Polsce.</li>
            </ul>

            <h3 class="heading-terciary concept__heading-terciary">Promocja</h3>

            <p>Ważnym aspektem jest promocja działań przedszkola w środowisku lokalnym. To praca całej kadry przedszkola
                składa się na jego jakość i rozpoznawalność.
                Zadbamy o to, aby formy promocji były wciąż doskonalone, dostosowywane do nowych potrzeb placówki.</p>

            <p>Zamierzamy:</p>
            <ul class="concept__list">
                <li class="concept__list-item">Kontynuować imprezy i działania promocyjne.</li>

                <li class="concept__list-item">Kreować wizerunek przedszkola poprzez atrakcyjną aranżację otoczenia,
                    dbać o estetykę pomieszczeń, sal
                    przedszkolnych, profesjonalizm i zaangażowanie moje – jako dyrektora, kadry pedagogicznej,
                    pracowników obsługi.</li>

                <li class="concept__list-item">Promować talenty, umiejętności dzieci poprzez udział w zewnętrznych
                    konkursach, przeglądach.</li>

                <li class="concept__list-item">Promować osiągnięcia dzieci w lokalnych mediach.</li>

                <li class="concept__list-item">Aktualizować stronę internetową przedszkola, tak aby rodzice mieli dostęp
                    do bieżących informacji.</li>
            </ul>

            <p>Nasze przedszkole to miejsce, które stwarza każdemu dziecku najlepsze warunki do rozwoju i wyposaża je w
                wiarę we własne możliwości, samoakceptację, aktywność, kreatywność, umiejętność radzenia sobie w
                sytuacjach trudnych.</p>
            <div class="concept-signature">
                <p>Opracowała</p>
                <p>Aleksandra Calicka</p>
                <p>dyrektor Przedszkola Publicznego w Turawie</p>
            </div>
        </div>
    </main>
    {%include 'includes/footer.html'%}
</div>
{% endblock%}

