{% extends "base.html" %}
{% load static wagtailcore_tags env_extras %}
{% block content %}
{% include 'includes/cookies.html' %}
{% include 'includes/navbar.html' %}

<div class="container">
    <main class="main-subpage">
        <div class="heading__box heading__box--road" id="header">
            <h1 class="heading__box-title">Kontakt</h1>
        </div>
        <div class="content wrapper">
            <div class="contact-page mt-3">
                <div class="contact__box">
                    <div class="contact__box-center">
                        <p class="contact__box-details contact-heading bold-txt">Przedszkole Publiczne w&nbsp;Turawie</p>
                        <p class="contact__box-details">ul.&nbsp;Opolska&nbsp;49, 46-045 Turawa</p>
                        <p class="contact__box-details">tel.: 77&nbsp;421&nbsp;25&nbsp;66</p>
                        <p class="contact__box-details">e-mail: pp.turawa@oswiata-turawa.pl</p>
                        <p class="contact__box-details mt-2">Dyrektor: Aleksandra Calicka</p>
                        <p class="contact__box-details mt-2">Godziny otwarcia: 6:30-16:30</p>
                    </div>
                </div>
                <div class="map">
                    <p class="map__txt contact-heading bold-txt">Mapa przedstawiająca lokalizację przedszkola</p>
                    <p class="map__txt map__txt-sm">Przedszkole znajduje się w sąsiedztwie Szkoły Podstawowej w Turawie
                        oraz Hali Sportowej. Kierując się na północ
                        ulicą Opolską, po przejechaniu mostu na Małej Panwi, należy skręcić w lewo.</p>

                    <div class="map__google-map" id="map"></div>
                    </div>
            </div>
        </div>
    </main>

    {%include 'includes/footer.html'%}
</div>
<script type="text/javascript" src="{% static 'js/map.min.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={% get_env_var 'GOOGLE_MAP_API_KEY' %}&callback=initMap">
</script>


{% endblock%}