{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% block content %}
{% include 'includes/cookies.html' %}
{% include 'includes/navbar.html' %}

<div class="container">
    <main class="main-subpage">
        <div class="heading__box heading__box--road" id="header">
            <h1 class="heading__box-title">Kontakt</h1>
        </div>
        <div class="content wrapper mtb-3">
            <div class="contact-page">
                <div class="contact__box">
                    <div class="contact__box-center">
                        <p class="contact__box-details contact-heading bold-txt">Przedszkole Publiczne w&nbsp;Turawie</p>
                        <p class="contact__box-details">ul.&nbsp;Opolska&nbsp;49, 46-045 Turawa</p>
                        <p class="contact__box-details">tel.: 77&nbsp;421&nbsp;25&nbsp;66</p>
                        <p class="contact__box-details">e-mail: pp.turawa@oswiata-turawa.pl</p>
                        <p class="contact__box-details mt-2">Dyrektor: Aleksandra Calicka</p>
                        <p class="contact__box-details mt-2">Godziny otwarcia: 6:30-16:30</p>
                    </div>
                </div>
                <div class="map">
                    <p class="map__txt contact-heading bold-txt">Mapa przedstawiająca lokalizację przedszkola</p>
                    <p class="map__txt map__txt-sm">Przedszkole znajduje się w sąsiedztwie Szkoły Podstawowej w Turawie
                        oraz Hali Sportowej. Kierując się na północ
                        ulicą Opolską, po przejechaniu mostu na Małej Panwi, należy skręcić w lewo.</p>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2524.8640903566284!2d18.074310215627094!3d50.74100957951654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4710570241763b11%3A0xfae836086ad8bde0!2sPrzedszkole%20Publiczne!5e0!3m2!1spl!2spl!4v1677909873188!5m2!1spl!2spl"
                        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                        title="Mapa przedstawiająca lokalizację przedszkola"></iframe>
                </div>
            </div>
        </div>
    </main>

    {%include 'includes/footer.html'%}
</div>
{% endblock%}