{% extends "base.html" %}
{% load static wagtailcore_tags wagtailroutablepage_tags wagtailimages_tags%}
{% block content %}
{% include 'includes/cookies.html' %}
{% include 'includes/navbar.html' %}

<div class="container">
    <main class="main-subpage">
        <div class="heading__box heading__box--crayons" id="header">
            <h1 class="heading__box-title"> {{ page.title }} </h1>
        </div>

        <div class="content wrapper custom_page">
           {{ page.body|richtext }}
        </div>
    </main>
    {%include 'includes/footer.html'%}
</div>
{% endblock%}