{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% block content %}
{% include 'includes/cookies.html' %}
{% include 'includes/navbar.html' %}

<div class="container">
    <main class="main-subpage">
        <div class="heading__box heading__box--crayons" id="header">
            <h1 class="heading__box-title">Procedury</h1>
        </div>
        <div class="content wrapper">
            <h2>Procedura przyprowadzania dziecka do przedszkola</h2>
            <ol class="concept__list">
                <li class="concept__list-item">Dzieci są przyprowadzane do placówki przez rodziców, opiekunów, którzy są
                    odpowiedzialni za ich bezpieczeństwo.</li>
                <li class="concept__list-item">Rodzice osobiście powierzają dziecko nauczycielowi.</li>
                <li class="concept__list-item">W godzinach od 6:30 do 8:00 rodzice przyprowadzają dzieci do sali
                    zbiorczej. Punktualnie od godziny 8:00 czynne są
                    dwa oddziały. Dzieci rozchodzą się do swoich sal pod opieką nauczycieli. Od tej godziny rodzice
                    przyprowadzają dzieci do sali danej grupy.</li>
                <li class="concept__list-item">Nauczyciel przyjmujący dziecko pod opiekę od rodziców zobowiązany jest
                    zwrócić uwagę na wnoszone przez dziecko zabawki i przedmioty - czy są one bezpieczne i nie stwarzają
                    zagrożenia.</li>
                <li class="concept__list-item">Rodzice zobowiązani są przyprowadzić do placówki dzieci zdrowe i czyste.
                </li>
                <li class="concept__list-item">Dziecka chorego lub podejrzanego o chorobę nie należy przyprowadzać do
                    placówki. Dzieci np. zakatarzone, przeziębione
                    nie mogą przebywać w grupie z dziećmi zdrowymi.</li>
                <li class="concept__list-item">Nauczyciel ma prawo poprosić rodzica o dostarczenie zaświadczenia
                    lekarskiego o braku przeciwwskazań do uczęszczania
                    dziecka do placówki.</li>
                <li class="concept__list-item">Rodzice mają obowiązek zgłaszania wszelkich poważnych dolegliwości
                    dziecka i udzielania wyczerpujących informacji na ten temat.</li>
                <li class="concept__list-item">Po każdej nieobecności dziecka spowodowanej chorobą zakaźną rodzice
                    zobowiązani są do przedłożenia zaświadczenia potwierdzającego zakończenie leczenia.</li>
            </ol>

            <h2>Procedura odbierania dziecka z placówki</h2>
            <ol class="concept__list">
                <li class="concept__list-item">Dzieci mogą być przyprowadzane i odbierane przez inne osoby dorosłe,
                    upoważnione na piśmie przez rodziców.
                    Upoważnienie pozostaje w dokumentacji placówki. Może ono zostać w każdej chwili odwołane lub
                    zmienione.</li>
                <li class="concept__list-item">Rodzice ponoszą odpowiedzialność prawną za bezpieczeństwo dziecka
                    odebranego z placówki przez upoważnioną osobę.</li>
                <li class="concept__list-item">Jeśli dziecko będzie się opierało, płakało lub z innych przyczyn nie
                    będzie chciało wyjść z placówki z osobą
                    upoważnioną przez rodziców, dziecko nadal pozostanie pod opieką nauczyciela, a dyrektor lub - w
                    przypadku jego
                    nieobecności - nauczyciel niezwłocznie skontaktuje się telefonicznie z rodzicami w celu ustalenia
                    dalszego postępowania.</li>
                <li class="concept__list-item">Wydanie dziecka osobie upoważnionej przez rodziców nastąpi po
                    wcześniejszym okazaniu przez tę osobę dowodu osobistego
                    - nauczyciel zobowiązany jest do wylegitymowania tej osoby.</li>
                <li class="concept__list-item">W przypadku telefonicznej prośby rodzica - upoważnienia słownego,
                    nauczyciel zobowiązany jest wykonać telefon
                    sprawdzający do rodzica i potwierdzić wcześniejszą informację.</li>
                <li class="concept__list-item">Nauczyciel powinien nie tylko wiedzieć, ale także widzieć, kto odbiera
                    dziecko z placówki. Z terenu placówki można
                    pozwolić dziecku odejść dopiero wtedy, gdy rodzic dotarł na miejsce pobytu grupy.</li>
                <li class="concept__list-item">Placówka może odmówić wydania dziecka, w przypadku gdy stan osoby
                    odbierajacej dziecko wskazuje na spożycie alkoholu
                    czy agresywne zachowanie. W takim przypadku personel placówki ma obowiązek zatrzymać dziecko do
                    czasu wyjaśnienia
                    sprawy. W takich okolicznościach nauczyciel zobowiązany jest skontaktować się z drugim rodzicem lub
                    osobą upoważnioną
                    przez rodziców. O zaistniałym fakcie powinien zostać poinformowany dyrektor.</li>
                <li class="concept__list-item">Życzenie rodziców dotyczące nieodbierania dziecka przez jednego z
                    rodziców musi być poświadczone przez orzeczenie
                    sądowe.</li>
            </ol>

            <h2>Procedura postępowania z chorym dzieckiem w przedszkolu.</h2>
            <ol class="concept__list">
                <li class="concept__list-item">Do przedszkola uczęszczają wyłącznie zdrowe dzieci.</li>
                <li class="concept__list-item">W placówce nie stosuje się żadnych zabiegów medycznych wobec wychowanków
                    oraz nie podaje się leków ze względu na brak
                    profesjonalnej opieki medycznej.</li>
                <li class="concept__list-item">W przypadku choroby zakaźnej dziecka, rodzice zobowiązani są do
                    powiadomienia o tym fakcie dyrektora placówki lub
                    nauczyciela, a po każdej chorobie zakaźnej przedkłada się zaświadczenie o zdolności dziecka do
                    uczęszczania do placówki.</li>
                <li class="concept__list-item">Dyrektor przedszkola umieszcza informację o zachorowaniu dziecka na
                    chorobę zakaźną na tablicy ogłoszeń.</li>
                <li class="concept__list-item">Gdy dziecko jest chore i musi poczekać na odbiór przez rodzica w
                    przedszkolu, należy przede wszystkim powiadomić
                    rodziców o stanie zdrowia i konieczności jak najszybszego odebrania dziecka z placówki.</li>
                <li class="concept__list-item">Zanim pojawią się rodzice, należy w przedszkolu:
                    <ul class="concept__list">
                        <li class="concept__list-item">zapewnić dziecku zainteresowanie,</li>
                        <li class="concept__list-item">w miarę możliwości zapewić izolację od pozostałych dzieci,</li>
                        <li class="concept__list-item">umożliwić położenie się na leżaku i przykrycie, gdy dziecko
                            komunikuje taką potrzebę,</li>
                        <li class="concept__list-item">zapewnić możliwość napicia się świeżej wody, herbaty.</li>
                    </ul>
                </li>
            </ol>

            <h2>Procedura przyjmowania i rozpatrywania skarg i wniosków.</h2>
            <ol class="concept__list">
                <li class="concept__list-item">W placówce skargi i wnioski przyjmowane są przez dyrektora.</li>
                <li class="concept__list-item">Rodzice mają prawo zgłaszać uwagi na temat funkcjonowania placówki z
                    zachowaniem drogi służbowej: nauczyciel -
                    dyrektor - organ prowadzący.</li>
                <li class="concept__list-item">Miejscem przyjmowania wniosków i skarg jest kancelaria dyrektora
                    przedszkola.</li>
                <li class="concept__list-item">Dyrektor przyjmuje skargi i wnioski w poniedziałki i czwartki od godz.
                    10:00-12:00.</li>
                <li class="concept__list-item">Na tablicy ogłoszeń dla rodziców umieszczona jest informacja dotycząca
                    terminu i czasu przyjmowania skarg i wniosków.</li>
                <li class="concept__list-item">Skargi, wnioski mogą być wnoszone pisemnie, a także ustnie do protokołu.
                </li>
                <li class="concept__list-item">Pracownik placówki, który otrzymał skargę dotyczącą działalności, jest
                    zobowiązany przekazać ją niezwłocznie
                    dyrektorowi.</li>
                <li class="concept__list-item">Dyrektor prowadzi rejestr skarg i wniosków.</li>
                <li class="concept__list-item">Kwalifikowania spraw jako skargi i wnioski dokonuje dyrektor.</li>
                <li class="concept__list-item">Każda sprawa zakwalifikowana przez dyrektora jako skarga lub wniosek
                    wpisana jest do rejestru skarg i wniosków.</li>
                <li class="concept__list-item">Jeżeli z treści skargi lub wniosku nie można ustalić ich przedmiotu,
                    dyrektor wzywa wnoszącego o wyjaśnienie lub
                    uzupełnienie.</li>
                <li class="concept__list-item">Skargi/wnioski, które nie należą do kompetencji placówki, należy
                    zarejestrować, a następnie pismem przewodnim
                    przesłać zgodnie z właściwością, zawiadamiająć o tym równocześnie wnoszącego, albo zwrócić mu
                    sprawę, wskazując właściwy
                    organ, a kopię pisemną zostawić w dokumentacji placówki.
                </li>
                <li class="concept__list-item">Do rejestru wpisuje się także skargi i wnioski, które nie zawierają
                    imienia i nazwiska oraz adresu wnoszącego.</li>
                <li class="concept__list-item">Skargi i wnioski anonimowe po dokonaniu rejestracji pozostaną bez
                    rozpoznania.</li>
            </ol>
            <h2>Procedura postępowania z dzieckiem sprawiającym trudności wychowawcze.</h2>
            <h3 class="heading-terciary concept__heading-terciary">Cele procedury:</h3>
            <ol class="concept__list">
                <li class="concept__list-item">Usprawnienie i zwiększenie skuteczności oddziaływań wychowawczych
                    przedszkola.</li>
                <li class="concept__list-item">Wskazanie działań korekcyjno - kompensacyjnych, terapeutycznych i
                    profilaktycznych.</li>
                <li class="concept__list-item">Zapobieganie powtarzaniu się zachowań niepożądanych.</li>
                <li class="concept__list-item">Eliminowanie u dzieci negatywnego obrazu samego siebie.</li>
                <li class="concept__list-item">Stworzenie poczucia pewności siebie, zapewnienie równowagi emocjonalnej.
                </li>
                <li class="concept__list-item">Ułatwienie nawiązywania kontaktów z innymi.
                </li>
                <li class="concept__list-item">Stworzenie warunków zaspokajających potrzebę bezpieczeństwa.</li>
                <li class="concept__list-item">Stworzenie systemu motywacji do zmiany zachowania.</li>
                <li class="concept__list-item">Ustalenie zasad reagowania na zachowania niepożądane.</li>
                <li class="concept__list-item">Wypracowanie metod współpracy ze środowiskiem rodzinnym dziecka.</li>
            </ol>

            <h3 class="heading-terciary concept__heading-terciary">Postępowanie nauczyciela:</h3>

            <ol class="concept__list">
                <li class="concept__list-item">Dokonuje obserwacji wstępnej dziecka i jego diagnozy sytuacji rodzinnej.
                </li>
                <li class="concept__list-item">Podejmuje działania wychowawcze zmierzające do eliminacji i rozwiązywania
                    problemów dziecka.</li>
                <li class="concept__list-item">Nawiązuje kontakt z rodzicami w celu przekazania informacji o zaistniałym
                    problemie.</li>
                <li class="concept__list-item">Zapoznaje rodziców z planem działań, które podejmuje, jednocześnie
                    zobowiązuje rodziców do współpracy.</li>
                <li class="concept__list-item">Pozyskuje dodatkowe informacje od rodziców w celu ujednolicenia
                    oddziaływań wychowawczych.
                </li>
                <li class="concept__list-item">Dokonuje obserwacji dziecka w związku z wprowadzonymi skorelowanymi
                    oddziaływaniami dom - przedszkole.
                </li>
                <li class="concept__list-item">Współpracuje ze specjalistami podczas obserwacji dziecka - prowadzi
                    konsultacje.</li>
                <li class="concept__list-item">Szczegółowo zapoznaje członków Rady Pedagogicznej z zaistniałym problemem
                    i przedstawia podejmowane
                    działania.</li>
                <li class="concept__list-item">Występuje do rodziców o zgodę na przeprowadzenie badań w poradni
                    psychologiczno - pedagogicznej.</li>
                <li class="concept__list-item">Opracowuje i realizuje program pracy indywidualnej.</li>
                <li class="concept__list-item">W przypadku pojawiających się problemów związanych ze współpracą z
                    rodzicami lub jej brakiem, dyrektor
                    przeprowadza w obecności nauczycieli pracujących w grupie rozmowę z rodzicami i sporządza z tego
                    spotkania notatkę
                    służbową.</li>
                <li class="concept__list-item">Wszelkie sygnały na temat zachowania dziecka kierowane do nauczyciela
                    muszą zostać odnotowane w zeszycie
                    współpracy z rodzicami.</li>
                <li class="concept__list-item">W przypadku braku zgody rodzica na przeprowadzenie badań
                    specjalistycznych oraz braku jakiejkolwiek
                    współpracy z placówką, Rada Pedagogiczna podejmuje decyzję o zgłoszeniu sprawy do sądu rodzinnego.
                </li>
            </ol>

            <h2>Procedura postępowania z dzieckiem z zaburzeniami rozwojowymi.</h2>
            <h3 class="heading-terciary concept__heading-terciary">Cele procedury:</h3>
            <ol class="concept__list">
                <li class="concept__list-item">Wczesne rozpoznanie zaburzeń rozwojowych dziecka i stymulowanie jego
                    rozwoju.</li>
                <li class="concept__list-item">Wnikliwe poznanie sytuacji dziecka i jego rodziny oraz zaprojektowanie
                    pomocy adekwatnej do jego potrzeb.
                </li>
                <li class="concept__list-item">Podjęcie systematycznego kompleksowego działania na rzecz rozwoju
                    dziecka, w szczególności:
                    <ul class="concept__list">
                        <li class="concept__list-item">rozwijanie myślenia,</li>
                        <li class="concept__list-item">ćwiczenie koncetracji uwagi,</li>
                        <li class="concept__list-item">usprawnienie koordynacji wzrokowo - ruchowej,</li>
                        <li class="concept__list-item">usprawnienie percepcji
                            słuchowej i koordynacji słuchowo - wzrokowej,</li>
                        <li class="concept__list-item">wzbogacenie zasobu słownictwa.</li>
                    </ul>

                </li>
                <li class="concept__list-item">Korygowanie i rozwijanie zaburzonych funkcji.
                </li>
                <li class="concept__list-item">Wyrównywanie dysharmonii rozwojowych.
                </li>
                <li class="concept__list-item">Kompensowanie braków rozwoju psychofizycznego.
                </li>
            </ol>

            <h3 class="heading-terciary concept__heading-terciary">Postępowanie nauczyciela:</h3>

            <ol class="concept__list">
                <li class="concept__list-item">Dokonuje diagnozy (obserwacji) wstępnej dziecka w trakcie odpowiednio
                    dobranych ćwiczeń i zabaw, poprzez
                    ocenę poziomu sprawności poszczególnych funkcji rozwojowych i umiejętności.</li>
                <li class="concept__list-item">Pogłębia wiedzę o dziecku poprzez poznanie jego środowiska rodzinnego.
                </li>
                <li class="concept__list-item">Współpracuje ze specjalistami podczas obserwacji dziecka - prowadzi
                    konsultacje.</li>
                <li class="concept__list-item">Nawiązuje kontakt z rodzicami w celu poinformowania o wynikach
                    obserwacji.</li>
                <li class="concept__list-item">Informuje rodziców o możliwościach i rodzaju pomocy dziecku.</li>
                <li class="concept__list-item">Występuje do rodziców o zgodę na przeprowadzenie badań w poradni
                    psychologiczno - pedagoicznej, która
                    wskaże mu kierunki pracy kompensacyjnej z dzieckiem.</li>
                <li class="concept__list-item">Szczegółowo zapoznaje członków Rady Pedagogicznej z zaistniałą sytuacją i
                    przedstawia podejmowane
                    działania.</li>
                <li class="concept__list-item">Na podstawie opinii lub orzeczenia wydanego przez poradnię psychologiczno
                    - pedagogiczną opracowuje i
                    wdraża program pracy indywidualnej.</li>
                <li class="concept__list-item">Współpracuje z rodzicami.</li>
                <li class="concept__list-item">W przypadku pojawiających się problemów związanych ze współpracą z
                    rodzicami lub jej braku, dyrektor przeprowadza w obecności nauczycieli pracujących w grupie rozmowę
                    z rodzicami i sporządza z tego
                    spotkania notatkę
                    służbową.</li>
                <li class="concept__list-item">W przypadku braku zgody rodzica na przeprowadzenie badań
                    specjalistycznych oraz braku jakiejkolwiek
                    współpracy z placówką, Rada Pedagogiczna podejmuje decyzję o zgłoszeniu do sądu rodzinnego faktu
                    niewydolności
                    wychowawczej rodziny.
                </li>
            </ol>
        </div>
    </main>

    {%include 'includes/footer.html'%}
</div>
{% endblock%}