{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% block content %}
{% include 'includes/cookies.html' %}
{% include 'includes/navbar.html' %}

<div class="container">
    <main class="main-subpage">
        <div class="heading__box heading__box--crayons" id="header">
            <h1 class="heading__box-title">Ramowy rozkład dnia</h1>
        </div>
        <div class="wrapper ">
            <div class="schedule mtb-5">
                <div class="schedule__group1">
                    <h2 class="schedule__heading">Grupa młodsza</h2>
                    {% for block in page.group_1 %}
                    <p class="schedule__activity-time">{{block.value.start_hour}} - {{block.value.end_hour}}</p>
                    <p class="schedule__activity-description">{{block.value.description}}.</p>
                    {% endfor %}
                </div>
                <div class="schedule__group2">
                    <h2 class="schedule__heading">Grupa starsza</h2>
                    {% for block in page.group_1 %}
                    <p class="schedule__activity-time">{{block.value.start_hour}} - {{block.value.end_hour}}</p>
                    <p class="schedule__activity-description">{{block.value.description}}.</p>
                    {% endfor %}
                </div>
            </div>
    </main>
    {%include 'includes/footer.html'%}
</div>
{% endblock%}