{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% block content %}
{% include 'includes/cookies.html' %}
{% include 'includes/navbar.html' %}

<div class="container">
    <main class="main-subpage">
        <div class="content wrapper">
            <h1>Mapa strony</h1>
            <ul class="sitemap ml-3">
                <li class="sitemap-item sitemap-item--outside">O nas
                    <ul class="sitemap__inner">
                        {% for child in aboutus_children %}
                        <li class="sitemap-item">
                            <a href="{{ child.get_url }}" class="sitemap-link link-underlined">{{child.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="sitemap-item sitemap-item--outside">Do pobrania
                    <ul class="sitemap__inner">
                        <li class="sitemap-item">
                            <a href="{% slugurl 'dyrektor' %}" class="sitemap-link link-underlined">Rekrutacja / inne dokumenty</a>
                        </li>
                        <li class="sitemap-item">
                            <a href="{% slugurl 'nauczyciele' %}" class="sitemap-link link-underlined">Materiały od nauczycieli</a>
                        </li>
                        <li class="sitemap-item">
                            <a href="{% slugurl 'logopeda' %}" class="sitemap-link link-underlined">Materiały logopedyczne</a>
                        </li>
                    </ul>
                </li>
                <li class="sitemap-item sitemap-item--outside">
                    <a href="{% url 'wagtail_serve' '' %}#news" class="sitemap-link link-underlined">Aktualności</a>
                </li>
                   <li class="sitemap-item sitemap-item--outside sitemap-item--outside">
                    <a href="{% pageurl chronicle_index_page %}" class="sitemap-link link-underlined">Kronika wydarzeń</a>
                </li>
                {% if thematic1 or thematic2 %}
                <li class="sitemap-item sitemap-item--outside">Tematyka zajęć
                    <ul class="sitemap__inner">
                        {% if thematic1 %}
                        <li class="sitemap-item">
                            <a href="/tematyka1/current/" class="sitemap-link link-underlined">Grupa młodsza</a>
                        </li>
                        {% endif %}
                        {% if thematic2 %}
                        <li class="sitemap-item">
                            <a href="/tematyka2/current/" class="sitemap-link link-underlined">Grupa starsza</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                <li class="sitemap-item sitemap-item--outside">Galeria zdjęć
                    <ul class="sitemap__inner">
                        <li class="sitemap-item">
                            <a href="{% slugurl 'galeria1'%}" class="sitemap-link link-underlined">Grupa młodsza</a>
                        </li>
                        <li class="sitemap-item">
                            <a href="{% slugurl 'galeria2'%}" class="sitemap-link link-underlined">Grupa starsza</a>
                        </li>
                    </ul>
                </li>
                <li class="sitemap-item sitemap-item--outside sitemap-item--outside">
                    <a href="{% slugurl 'rodo' %}" class="sitemap-link link-underlined">RODO</a>
                </li>
                <li class="sitemap-item sitemap-item--outside sitemap-item--outside">
                    <a href="{% slugurl 'deklaracja' %}" class="sitemap-link link-underlined">Deklaracja dostępności</a>
                </li>
                <li class="sitemap-item sitemap-item--outside sitemap-item--outside">
                    <a href="{% url 'aboutus_app:contact' %}" class="sitemap-link link-underlined">Kontakt</a>
                </li>
            </ul>
        </div>
    </main>

    {%include 'includes/footer.html'%}
</div>
{% endblock%}