{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% block content %}
{% include 'includes/cookies.html' %}
{% include 'includes/navbar.html' %}

<div class="container">
    <main class="main-subpage">
        <div class="content wrapper">
            <h1>Mapa strony</h1>
            <ul>
                <li class="sitemap-item">O nas</li>
                <ul>
                    <li class="sitemap-item"><a href="{% url 'aboutus_app:schedule' %}" class="sitemap-link">Ramowy rozkład dnia</a></li>
                    <li class="sitemap-item"><a href="{% url 'aboutus_app:payments' %}" class="sitemap-link">Opłaty i konta</a></li>
                    <li class="sitemap-item"><a href="{% url 'aboutus_app:regulations' %}" class="sitemap-link">Regulamin</a></li>
                    <li class="sitemap-item"><a href="{% url 'aboutus_app:procedures' %}" class="sitemap-link">Procedury</a></li>
                    <li class="sitemap-item"><a href="{% url 'aboutus_app:concept' %}" class="sitemap-link">Koncepcja pracy przedszkola</a></li>
                    <li class="sitemap-item"><a href="#" class="sitemap-link">Statut</a></li>
                </ul>
                <li class="sitemap-item">Do pobrania</li>
                <ul>
                    <li class="sitemap-item"><a href="{% url 'documents_app:general' %}" class="sitemap-link">Rekrutacja / inne dokumenty</a>
                    </li>
                    <li class="sitemap-item"><a href="#" class="sitemap-link">Materiały od nauczycieli</a></li>
                    <li class="sitemap-item"><a href="#" class="sitemap-link">Materiały logopedyczne</a></li>
                </ul>
            </ul>

        </div>
    </main>

    {%include 'includes/footer.html'%}
</div>
{% endblock%}