{% extends "base.html" %} {% load static wagtailcore_tags wagtailimages_tags%}
{% block extra_css %}
<link href="{% static 'css/lightbox.min.css' %}" rel="stylesheet" /> {% endblock %}
{% block content %} {% include 'includes/cookies.html' %}
{% include 'includes/navbar.html' %}

<div class="container">
    <main class="main-subpage">
        <div class="photogallery">
            <div class="photogallery__heading" id="header">
                <a href="{% slugurl 'galeria' %}?group={% if group == 'grupa młodsza' %}1{% else %}2{%endif%}"
                    class="photogallery__heading--back"><svg class="icon chevrons-left" role="presentation">
                        <use xlink:href="{% static 'img/sprite.svg#chevrons-left' %}">></use></svg><span>Powrót</span></a>
                <p class="photogallery__heading--title">
                    {{ collection.name }}
                </p>
            </div>
            <div class="wrapper photogallery__content">
                {% for image in gallery %} {% image image width-600 as img %}
                <a class="photogallery-image-link gallery-image"
                    href="{{image.file.url}}"
                    data-lightbox="gallery-set"
                    data-alt="{{image.alt_descr}}">
                    <span class="sr-only">Otwórz zdjęcie w powiększeniu</span>
                    <span><img
                            class="photogallery-image"
                            src="{{img.url}}" /></span></a>
                {% endfor %}
            </div>
        </div>
    </main>
    {%include 'includes/footer.html'%}
</div>
{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="{% static 'js/lightbox.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>
<script>
    $(document).ready(function () {
       $(".lb-container").swipe({
            swipeLeft: function (event, direction, distance, duration, fingerCount) {
                $('#lightbox a.lb-next').trigger('click');
                return
            },
            swipeRight: function (event, direction, distance, duration, fingerCount) {
                $('#lightbox a.lb-prev').trigger('click');
                return
            },
            threshold: 25
        });
});
</script>
{% endblock %}
{% endblock%}