{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% block content %}
{% include 'includes/cookies.html' %}
{% include 'includes/navbar.html' %}

<div class="container">
    <main class="main-subpage">
        <div class="password__box" id="header">
            <p class="password__box-text">Proszę podać hasło aby uzyskać dostęp do galerii.</p>
            <form class="password__form" action="{{ action_url }}" method="POST">
                {% csrf_token %} {{ form.non_field_errors }}
                    {{ form.password.errors }}
                    <div>
                    {{ form.password.label_tag }}
                     {{ form.password }}
                    </div>
                {% for field in form.hidden_fields %} {{ field }} {% endfor %}
                <button class="password__form-button" type="submit">
                    Wejdź do galerii
                </button>
            </form>

        </div>
    </main>
{%include 'includes/footer.html'%}
</div>
{% endblock%}
