@use '../colors'as *;

.news {
    display: flex;
    flex-direction: column;
    flex: 1 1 min-content;


    &__heading {
        margin-top: 1rem;
        color: $color-primary-second;
    }


    &__accordion {
        max-width: 930px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item:not(:last-child) {
        margin-bottom: 1em;
    }

    &__btn {
        display: flex;
        align-items: center;
        white-space: normal;
        padding: 1rem;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.8rem;
        width: 100%;
        text-align: left;
        background: $color-bcg-light;
        border: none;
        box-shadow: 1px 1px 3px black;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color .3s;
        line-height: 1.2;

        &:hover,
        &:focus {
            color: #fff;
            background-color: $color-primary-first;
        }

        &:hover>&-arrow .circle-chevron-down,
        &:focus>&-arrow .circle-chevron-down {
            fill: #fff;
        }

        &.expanded:hover>&-arrow .circle-chevron-down,
        &.expanded:focus>&-arrow .circle-chevron-down {
            transform: rotate(-180deg);
        }

        &-arrow {
            margin-right: 1rem;
            font-weight: bold;

            .circle-chevron-down {
                display: inline-block;
                fill: $color-primary-second;
                width: 3rem;
                height: 3rem;
                transition: transform .3s;
            }

        }
    }

    &__info {
        display: none;
        padding: 20px;

    }
}

.active {
    display: block;
    max-width: 95vw;
}

@media (max-width:1200px) {

    .news {
        flex: 1 1 56rem;
    }

}

@media (max-width:992px) {
    .news {
        flex: 1 0 auto;
        width: 90%;
        margin: 0 auto;

        &__info {
            max-width: 100%;
        }
    }
}

@media (max-width:756px) {
    .news {
        font-size: 1.7rem;

        &__info {
            padding: 1rem;
        }

        &__btn {
            padding: 1rem .5rem;
        }

        &__btn-arrow {
            margin-right: .5rem;
        }
    }
}

@media (max-width:500px) {
    .news {
        width: 100%;
    }
}