@use '../colors'as *;

.contact-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 5em;
}

.map {
    display: inline-flex;
    flex-direction: column;
    flex: 1 0 48%;
    padding: 2rem;
    box-shadow: 0 0 4px rgba(0,0,0,.4);


    &__txt-sm {
        padding-bottom: .5rem;
        font-size: 1.5rem;
    }

    &__google-map {
        height: 400px;
        width: 100%;
    }

}


.contact__box {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    flex: 1 0 50%;
    font-size: 1.8rem;

    &-center {
        display: flex;
        flex-direction: column;

        &:last-child {
            margin-bottom: 2rem;
        }
    }
}

.contact-heading {
    padding-bottom: 1rem;
    font-size: 1.8rem;
}
.contact-heading2 {
    padding-bottom: 1rem;
    font-size: 1.6rem;
    // color: $color-primary-first;
}

// Contact details in homepage
.contact {
    grid-column: full-start/full-end;
    grid-row: 5/6;
    display: flex;
    justify-content: space-evenly;
    padding: 4rem 1rem;
    margin-top: 3em;
    background-color: $color-bcg-light;
    color: black;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    font-size: 1.8rem;
    line-height: 1.7;

    &__details {
        margin-left: 2rem;
    }

    &__details-email,
    &__details-phone,
    &__details-adress {
        display: flex;
        align-items: center;
    }

    img {
        margin-right: 1rem;
    }
}

@media (max-width:768px) {

    .contact-page {
        flex-direction: column;
        margin-top: 2em;
        margin-left: 2em;
        margin-right: 2em;
    }

    .map {
        margin-top: 1em;
    }


    .contact {
        display: grid;
        grid-template-columns: auto max-content auto;
        grid-template-rows: repeat(2, min-content);
        margin-top: 2em;
        clip-path: none;


        &__details {
            grid-column: 2/3;
            grid-row: 2/3;
            margin-left: 0;
            overflow-wrap: anywhere;
        }


        &__name {
            grid-column: 2/3;
            grid-row: 1/2;
            margin-bottom: 1em;
        }

        p {
            margin-bottom: 0.3em;
        }
    }

}

@media (max-width:500px) {

    .contact-page {
        flex-direction: column;
        margin-top: 2em;
        margin-left: 1rem;
        margin-right: 1rem;
    }}