@use '../colors'as *;

.hide {
    display: none;
}

.cookie-box {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 3rem 4rem;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    background-color: #fff;
    opacity: 0;
    transform: translateY(100%);
    animation: show-cookies 0.5s 0.5s forwards;
    z-index: 10000;
}


.cookie-btn {
    margin-top: 1em;
    padding: 0.5em 2em;
    font-size: 1.6rem;
    border: 1px solid black;
    border-radius: 8px;
    color: #fff;
    background-color: $color-primary-first;
    transition: background-color .3s;
    cursor: pointer;
}

.cookie-btn:hover {
    background-color: rgb(79, 79, 99);
}

@keyframes show-cookies {
    to {
        opacity: 1;
        transform: translateY(0);
    }

}