@use '../colors'as *;

.hide {
    display: none;
    opacity: 0;
    transform: translateY(100%);
}

.cookie-box {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    max-height: 50vh;
    width: 100%;
 
    background-color: rgba(243, 248, 140, 0.9);
    z-index: 10000;

}

.cookie-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 1rem;
    overflow: auto;
}


.cookie-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
}



.cookie {
    font-size: 2rem;
}
