@use '../colors'as *;

.documents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    padding: 2rem;
    padding-left: 5rem;
    box-shadow: 1px 1px 2px black;
    border-radius: 5px;
    background: #f5f7f2;


    a[href]::before {
        display: inline-block;
        width: 2.4rem;
        height: 2.4rem;
        padding-left: 1rem;
        padding-right: 2rem;
        margin-left: -3rem;
    }

    a[href$='doc']::before,
    a[href$='docx']::before {
        content: url('/static/img/file-earmark-word.svg');
    }

    a[href$='xls']::before,
    a[href$='xlsx']::before {
        content: url('/static/img/file-earmark-spreadsheet.svg');
    }

    a[href$='pdf']::before {
        content: url('/static/img/file-pdf-fill.svg');
    }

    a[href$='txt']::before {
        content: url('/static/img/file-pdf-text.svg');
    }


    a[href$='jpg']::before,
    a[href$='png']::before {
        content: url('/static/img/file-earmark-image.svg');
    }


    &__link {
        text-decoration: none;
        color: black;
        line-height: 1.8;

        &:hover,
        &:focus {
            text-decoration: underline;
            text-underline-offset: 5px;
            color: $color-primary-second;
        }
    }
}