@use '../colors'as *;

.header {
    grid-row: 2/3;
    grid-column: full-start/full-end;
    display: flex;
    align-items: center;
    position: relative;
    min-height: 70vh;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);


    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        will-change: transform;
        background-image: url('/static/img/colored-pencils-xl.jpg');
        background-position: top;
        background-size: cover;
        overflow: hidden;
        z-index: -3;
    }

    &__wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        max-width: 1300px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        min-width: 40%;
        max-width: 60rem;
        margin-right: 2rem;
        padding: 3rem;
        z-index: -1;


        &::after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to right bottom, rgba($color-primary-first, .87), rgba($color-primary-second, .87));
            box-shadow: 3px 3px 5px rgba(black, 0.6);
            border-radius: 8px;
            z-index: -2;
        }
    }

    &__title {
        font-size: 2.8rem;
        font-family: 'Kalam', cursive;
        line-height: 1.2;

        span {
            display: inline-block;
            opacity: 0;
            filter: blur(2px);
        }

        span:nth-child(1) {
            animation: fade-in 1s 0.1s forwards ease-in;

        }

        span:nth-child(2) {
            animation: fade-in 1s 0.5s forwards ease-in;
        }

        span:nth-child(3) {
            animation: fade-in 1s 1s forwards ease-in;
        }
    }

    &__text {
        padding-top: 1rem;
        font-size: 1.8rem;
        line-height: 1.5;
    }

}


@media(max-width: 48em) {
    .header {
        justify-content: center;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        &__box {
            margin-right: 0;
            padding: 2rem 20px;
        }

        &__title {
            font-size: 2.5rem;
        }

        &__text {
            font-size: 1.6rem; ///
        }
    }
}

@media (max-width: 31.25em) {

    .header {

        &__box {

            &::after {
                box-shadow: none;
                border-radius: 0;
            }

        }
    }

}

@media(max-width: 22.5em) {

    .header {
        &__title {
            font-size: 2.3rem;
        }
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}