@use '../colors'as *;

.hamburger {
    display: block;
    position: absolute;
    top: 0;
    right: 1.5rem;
    font-size: 1.6rem;
    line-height: 1.5;
    opacity: 1;
    z-index: 500;

    &-inner,
    &-inner::before,
    &-inner::after {
        z-index: 500;
    }

    &-text {
        display: block;
        color: #fff;
    }
}


.nav {
    position: relative;
    width: 100%;
    background-color: $color-primary-second;
    z-index: 99;

    &-wrapper {
        position: relative;
        max-width: 1300px;
        padding: 0 30px;
        height: 7rem;
        line-height: 7rem;
        margin: 16px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        position: relative;
        // font-size: 0;


        &-img {
            display: block;
            width: 90px;
            height: 90px;
            border: 5px solid #adbe42;
            border-radius: 50%;
        }
    }

    &-links {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        max-width: 100%;
        padding: 5rem 1rem;
        line-height: 5rem;
        overflow-y: auto;
        background-color: $color-primary-first;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, .18);
        transform: translateX(-100%);
        opacity: 0;
        animation: moveInMob .6s forwards;

        &--active {
            display: block;

        }

        li {
            list-style: none;
            margin: 1.5rem 1rem;
        }
    }

    &-link {
        //all links in nav
        display: block;
        position: relative;
        color: black;
        text-decoration: none;
        font-size: 1.8rem;
        line-height: 2rem;
        transition: all 0.3s ease;
    }

    &__item {
        position: relative;

        &-link {
            // main links - without links inside dropdown
            display: inline-block;
            padding: 1rem 0;
            color: white;
            margin-left: 20px;
            text-transform: uppercase;
            font-size: 1.8rem;


            .chevron-down {
                display: inline-block;
                vertical-align: bottom;
                width: 2rem;
                height: 2rem;
                fill: inherit;
            }

            &::before {
                height: 3px;
                background-color: white;
            }

        }
    }

    &__dropdown {
        position: static;
        top: 65px;
        display: none;
        padding-left: 1rem;
        width: 100%;
        min-width: 300px;
        max-width: 100vw;
        max-height: 0;
        font-size: 1.7rem;
        opacity: 0;
        overflow: hidden;
        background-color: $color-primary-first;
        animation: fadeIn .6s forwards;

        &-link {
            width: 100%;
            padding: 1rem;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
            font-size: 1.6rem;
            transition: background-color .3s;

            &:hover,
            &:focus,
            &:active {
                background-color: #6A67D0;
            }
        }

        &.show {
            // max-height: 45rem;
            display: block;
            // opacity: 1;
        }

    }

}
.skipnav {
    line-height: 1.5;
    text-align: center;
    overflow-wrap: break-word;
}

.skipnav a {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skipnav a:focus,
.skipnav a:active {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 1rem;
    font-size: 1.8rem;
    color: white;
    background-color: $color-primary-first;
    overflow: visible;
    z-index: 9999;
}

@media (min-width: 22.5em) {

    .nav-links {
        max-width: 360px;
    }
}

@media (min-width: 28.1em) {

    .nav-links {
        max-width: 360px;
    }

}

@media (min-width: 62em) {
    .hamburger {
        display: none;
        opacity: 0;
    }

    .nav {
        &-links {
            display: inline-flex;
            position: static;
            height: 100%;
            width: auto;
            max-width: 100%;
            padding: 0;
            line-height: inherit;
            overflow-y: visible;
            background-color: inherit;
            box-shadow: none;
            transform: translateX(0);
            opacity: 1;
            animation: movIn .6s forwards;

            // &--active {
            //     opacity: 1;
            // }

            li {
                margin: 0;
            }
        }

        &-links li:hover &__dropdown,
        &-links li:focus &__dropdown {
            opacity: 1;
            display: block;
            max-height: min-content;
        }

        &__dropdown {

            position: absolute;
            top: 6rem;
            padding-left: 0;
            background-color: #fff;
            line-height: 45px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            // transition: max-height .2s linear,
            //     opacity .2s linear;

            &-link {
                padding: 1rem 15px;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
                border-radius: 0;
                color: black;

                &:hover,
                &:focus {
                    background-color: #adbe42;
                }
            }

            // &.show {
            //     max-height: min-content;
            // }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        max-height: 0;
    }

    to {
        opacity: 1;
        max-height: 45rem;
    }
}

@keyframes moveInMob {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 0.97;
    }
}