@use '../colors'as *;

.photogallery {
    &__card {
        display: flex;
        flex-direction: column;
        width: 25rem;
        border: 1px solid black;
        border-radius: 8px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
        overflow: hidden;


        &-descr {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            padding: 1em;
        }

        &-title {
            margin-bottom: 2rem;
            font-size: 2rem;
            font-family: 'Kalam', cursive;
            text-align: center;
        }

        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 75%;
            margin-top: auto;
            margin-bottom: 1rem;
            padding: .7rem;
            text-decoration: none;
        }

        img {
            width: 100%;
        }
    }

    &__list {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        &>div {
            margin: 2rem 1rem;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        min-height: 50vh;
        padding: 10px;
        font-family: 'Poppins', sans-serif;
    }

    &__heading {
        padding-top: 2rem;

        &--back {
            display: inline-block;
            margin: 0 2rem 2rem;
            text-decoration: none;
            font-weight: 700;
            font-size: 1.8rem;
            color: royalblue;

            span,
            .chevrons-left {
                display: inline-block;
                vertical-align: middle;
            }

            .chevrons-left {
                width: 2rem;
                height: 2rem;
                fill: inherit;
            }
        }

        &--title {
            margin-bottom: 2rem;
            font-size: 2.5rem;
            font-family: 'Kalam', cursive;
            text-align: center;
            overflow-wrap: break-word;
        }
    }

    .gallery-image {
        display: inline-block;
        padding: 7px;
        width: calc(100% / 5);
        text-align: center;

        span {
            display: flex;
            width: 100%;
            overflow: hidden;
        }

        img {
            max-width: 100%;
            max-height: 30vh;
            margin: 0 auto;
            vertical-align: middle;
            transition: transform 0.3s ease;
        }

        &:hover img {
            transform: scale(1.1);
        }
    }
}


@media(max-width: 1000px) {
    .photogallery .gallery-image {
        width: calc(100% / 4);
    }
}

@media(max-width: 800px) {
    .photogallery .gallery-image {
        width: calc(100% / 2);
    }
}

@media(max-width: 600px) {
    .photogallery .gallery-image {
        width: calc(100% / 2);
        padding: 4px;
    }
}

@media(max-width: 400px) {
    .photogallery .gallery-image {
        width: 100%;
        padding: 4px;
    }
}