@use '../colors' as *;

.schedule {
    display: flex;
    flex-direction: column;

    &__heading {
        grid-column: 1/-1;
        padding-bottom: 2rem;
        text-align: center;
        color: $color-primary-first;
        font-size: 2.2rem;
    }

    &__group1,
    &__group2 {
        display: grid;
        grid-template-columns: max-content auto;
        grid-template-rows: repeat(14, auto);
        column-gap: 2rem;
        flex: 0 1 50%;

    }
    &__group2 {
        margin-top: 3rem;
    }

    &__activity-description {
        padding: .5rem 0;
    }

    &__activity-time {
        padding: .5rem 0;
        color: $color-primary-second;
        font-weight: bold;
        text-align: right;
    }
}

@media (min-width:62rem) {
    .schedule {
        flex-direction: row;

            &__group1,
            &__group2 {
                margin: 1rem 2rem 2rem;
            }
    }
}