.sitemap {
    margin-top: 2rem;
    a {
        color: rgb(18, 74, 240);
        //font-weight: bold;
        text-decoration: none;
    }
    &__inner {
        margin-left: 2rem;
    }

    &-item {
        list-style: none;
    }

    &-link {
        &::before {
            height: 2px;
            background-color: rgb(18, 74, 240);
        }
    }
}