@use '../colors'as *;

.todownload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;

    &__link {
        text-decoration: none;
        color: black;
        line-height: 1.8;

        &:hover,
        &:focus {
            text-decoration: underline;
            text-underline-offset: 5px;
            color: $color-primary-second;
        }
    }
}

.todownload-files {

    a[href]::before {
        display: inline-block;
        width: 2.4rem;
        height: 2.4rem;
        padding-left: 1rem;
        padding-right: 2rem;
        margin-left: -3rem;
        content: url('/static/img/svg/file-earmark.svg');
    }

    a[href$='doc']::before,
    a[href$='docx']::before,
    a[href$='odt']::before {
        content: url('/static/img/svg/file-earmark-word.svg');
    }

    a[href$='xls']::before,
    a[href$='xlsx']::before {
        content: url('/static/img/svg/file-earmark-spreadsheet.svg');
    }

    a[href$='pdf']::before {
        content: url('/static/img/svg/file-pdf-fill.svg');
    }

    // a[href$='txt']::before {
    //     content: url('/static/img/file-pdf-text.svg');
    // }


    a[href$='jpg']::before,
    a[href$='png']::before {
        content: url('/static/img/svg/file-earmark-image.svg');
    }

}

