{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %} {{ page_title }} {% if page.seo_title %} {{ page.seo_title }} {{ page_title }}
            {%else %}{{ page.title }} - {% endif %} {% endblock %} Przedszkole
            Publiczne w Turawie{% block title_suffix %}
            {% wagtail_site as current_site %} {% if current_site and current_site.site_name %}-
            {{current_site.site_name }} {% endif %} {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="Strona internetowa Przedszkola Publicznego w Turawie" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% if request.in_preview_panel %}
        <base target="_blank" />
        {% endif %} {# Global stylesheets #}

         {% block extra_css %} {% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
        <link rel="stylesheet" type="text/css" href="{% static 'css/hamburger.min.css' %}"/>
        <link rel="stylesheet" type="text/css"  href="{% static 'css/style.min.css' %}" />


    </head>

    <body class="{% block body_class %}body{% endblock %}">
        {% wagtailuserbar %} {% block content %}

        {% endblock %}

        {% block extra_js %}
        {% endblock %}
         <script type="text/javascript" src="{% static 'js/script.min.js' %}"></script>
    </body>
</html>
