{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% block content %}
{% include 'includes/cookies.html' %}
{% include 'includes/navbar.html' %}

<div class="container">
    <main class="main-subpage">
        <div class="heading__box heading__box--paint" id="header">
            <h1 class="heading__box-title">Dokumenty do pobrania</h1>
        </div>
        <div class="content wrapper">
            <h2 class="documents__heading">Rekrutacja i inne dokumenty</h2>
            <div class="documents">

                    {% for doc in documents %}

                        <a href="{{ doc.file.url }}" class="documents__link">{{doc.title}} ({{doc.type}}, {{doc.file_size_converted}})</a>

                    {% endfor %}

            </div>
        </div>
    </main>
    {%include 'includes/footer.html'%}
</div>
{% endblock%}